/** ------ General ------ **/
body {
    margin: 0;
    font-family: ProximaNova,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #fafafa;
}

/** ------ Navigation ------ **/
.navbar {
    padding: 1rem 0;
    border-bottom: 1px solid #eaedf1;
    background: #fff;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.navbar .navbar-brand {
    padding: 0;
}

.navbar .navbar-brand img {
    height: 30px;
    margin: .3125rem 3.75rem .3125rem 2rem;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
}

.navbar .navbar-nav .nav-item {
    margin-right: 30px;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-size: .9375em;
    padding: 0;
    line-height: 40px;
    color: #7f8c8d;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #09C269;
}

.navbar .navbar-nav .nav-item .nav-link.dropdown-toggle:after {
    margin-top: -.255rem;
    vertical-align: middle;
    border: solid #aeb3bd;
    border-width: 0 2px 2px 0;
    padding: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.navbar .btn-signup {
    padding: 0 2rem;
    line-height: 38px;
    font-size: 15px;
    color: #888;
    border-color: #ced4da;
    margin-right: 3rem;
}

.navbar .search {
    position: absolute;
    display: block;
    right: 2rem;
    height: 40px;
    width: 40px;
    line-height: 100%;
}

.navbar .search svg {
    fill: #AEB3BD;
    height: 22px;
    width: 22px;
    margin-top: 9px;
    margin-left: 9px;
}

/** ------ Header ------ **/

.container {
    max-width: 1200px;
}

h1, h2 {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
    color: #111;
}

.header {
    padding: 60px 0 70px;
}
 
.header h1, .header p {
    margin-bottom: 0;
}

.content {
    padding: 0 0 6.25rem;
}

.subscribe-section .image {
    position: relative;
    width: 95%;
}

.subscribe-section .image .element {
    position: absolute;
    top: 10px;
    right: -50px;
    z-index: 3;
}

.subscribe-section .image .dots {
    position: absolute;
    bottom: 0;
    left: 25px;
    z-index: 1;
}

/** ------ Form in header ------ **/
.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .813rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #2D8CFF;
    border-color: #2D8CFF;
}

.btn-primary:hover{
    background-color:#0464b6;
}

.form-group>.col, .form-group>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}

.form-control {
    display: block;
    width: 100%;
    height: -webkit-calc(1.5em + 1.626rem + 2px);
    height: calc(1.5em + 1.626rem + 2px);
    padding: .813rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

/** ------ blog posts ------ **/
.card {
    height: 100%;
    border-width: 0 0 1px;
    border-color: #eaedf1;
    border-radius: .125rem;
}

.card-body {
    text-align: center;
    padding: 30px;
    color: #000;
    height: 100%;
}

.author .details {
    color: #7f8c8d;
    margin-bottom: 0;
}

.author .details .divider:after {
    content: '\00B7';
    padding: 0 6px;
}

.card-title {
    line-height: 120%;
    font-size: 1.5em;
    margin-bottom: .75rem;
}

.card-title a {
    color: #09C269;
    font-weight: 700;
}

/** ------ Footer ------ **/
.page-footer {
    background: #292C31;
    padding: 50px 0;
    color: #62656A;
}
.page-footer .logo {
    height: 30px;
}
.page-footer h5 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
}
footer h5, footer ul>li>a {
    font-size: .875em;
}
footer h5, footer h5 a {
    color: #AEB3BD;
}
.page-footer ul {
    padding-left: 0;
}
.page-footer ul li {
    list-style: none;
    margin-bottom: 5px;
}
.page-footer ul li a {
    color: #62656A;
}
.page-footer ul li a span {
    background: #2D8CFF;
    color: #fff;
    font-size: .75rem;
    padding: .1rem .5rem .05rem;
    margin-left: .5rem;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    text-decoration: none;
    display: inline-block;
}
.page-footer ul li a span.new {
    background: #09C269;
}
.copyright {
    padding: 3rem 0 0;
    margin: 1rem 0 0;
    border-top: 1px solid #3c3f45;
}
.page-footer .footer-p {
    font-size: 15px;
    line-height: 24px;
}
.page-footer .subscribe .form-text, .page-footer .subscribe .form-text a {
    color: #74787d;
}
.page-footer .subscribe .form-control {
    background-color: #43474c;
    border-color: #43474c;
    color: #fff;
    font-size: 14px;
}
.copyright .company ul>li {
    padding-right: 1.5rem;
}
.copyright .company a {
    color: #62656a;
}
.copyright .social a .facebook, .copyright .social a .instagram, .copyright .social a .linkedin, .copyright .social a .snapchat, .copyright .social a .twitter, .copyright .social a .youtube {
    cursor: pointer;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    background: url(https://www.mailerlite.com/site/themes/new/img/socialmedia.png) no-repeat;
    background-size: 40px;
    margin-right: 5px;
    opacity: .7;
}
.copyright .social a .facebook, .copyright .social a .instagram, .copyright .social a .linkedin, .copyright .social a .snapchat, .copyright .social a .twitter, .copyright .social a .youtube {
    height: 40px;
    width: 40px;
    display: inline-block;
}
.copyright .social a .facebook {
    background-position: 0 -2px;
}
.copyright .social a .youtube {
    background-position: 0 -220px;
}
.copyright .social a .twitter {
    background-position: 0 -177px;
}
.copyright .social a .instagram {
    background-position: 0 -46px;
}
.copyright .social a .linkedin {
    background-position: 0 -265px;
}